.slide-diagram__content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6.65vmin;
}
@media (orientation: portrait) {
    .slide-diagram__content-wrapper {
        flex-direction: column;
    }
}

@media (min-aspect-ratio: 18 / 9) and (max-aspect-ratio: 24 / 9) {
    .slide-diagram__content-wrapper {
        justify-content: space-around;
    }
}

@media (orientation: portrait) and (min-device-height: 700px) and
        (max-device-width: 375px) {
    .slide-diagram__content-wrapper {
        gap: 10vmin;
        margin-bottom: 16.65vmin;
    }
}