@font-face {
    font-family: "Roboto Medium";
    font-style: normal;
    font-weight: normal;
    src: url("./Roboto-Medium.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Bold";
    font-style: normal;
    font-weight: bold;
    src: url("./Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Roboto Regular";
    font-style: normal;
    font-weight: normal;
    src: url("./Roboto-Regular.ttf") format('truetype');
}

:root {
    --font-family-medium: "Roboto Medium", serif;
    --font-family-bold: "Roboto Bold", serif;
    --font-family-thin: "Roboto Regular", serif;
}