.activity-chart__legend {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2.13vmin; /* 8px */
    margin: auto;
    padding-bottom: 15.43vmin; /* 58px */
    padding-top: 8.52vmin; /* 32px */
}

.activity-chart__legend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.activity-chart__legend-text {
    color: var(--color-grey-on-dark);
    font-family: var(--font-family-medium);
    font-size: var(--font-size-16);
    line-height: var(--line-height-18);
    text-align: center;
    padding-top: 2.13vmin; /* 8px */
}

.theme_light .activity-chart__legend-text {
    color: var(--color-grey-on-light);
}

[class^="activity-chart__legend-indicator-"] {
    width: 16vmin; /* 60px */
    height: 3.2vmin; /* 12px */
}

.activity-chart__legend-indicator-0 {
    background: url("images/indicator-0-dark.svg") no-repeat;
    background-size: cover;
}

.activity-chart__legend-indicator-1 {
    background: url("images/indicator-1-dark.svg") no-repeat;
    background-size: cover;
}

.activity-chart__legend-indicator-2 {
    background: url("images/indicator-2-dark.svg") no-repeat;
    background-size: cover;
}

.activity-chart__legend-indicator-3 {
    background: url("images/indicator-3-dark.svg") no-repeat;
    background-size: cover;
}

.activity-chart__legend-indicator-4 {
    background: url("images/indicator-4-dark.svg") no-repeat;
    background-size: cover;
}

.theme_light .activity-chart__legend-indicator-0 {
    background: url("images/indicator-0-light.svg") no-repeat;
    background-size: cover;
}

.theme_light .activity-chart__legend-indicator-1 {
    background: url("images/indicator-1-light.svg") no-repeat;
    background-size: cover;
}

.theme_light .activity-chart__legend-indicator-2 {
    background: url("images/indicator-2-light.svg") no-repeat;
    background-size: cover;
}

.theme_light .activity-chart__legend-indicator-3 {
    background: url("images/indicator-3-light.svg") no-repeat;
    background-size: cover;
}

.theme_light .activity-chart__legend-indicator-4 {
    background: url("images/indicator-4-light.svg") no-repeat;
    background-size: cover;
}

@media (orientation: portrait) {
    .activity-chart__legend {
        padding-bottom: 6.4vmin; /* 24px */
        padding-top: 13.3vmin; /* 50px */
    }

    .activity-chart__legend-text {
        text-align: left;
    }

    .activity-chart__legend-item {
        align-items: flex-start;
    }
}

@media (orientation: portrait) and (min-device-height: 700px) and
(max-device-width: 375px) {
    .activity-chart__legend {
        padding-top: 30%;
    }
}