.slide-chart__users {
    display: flex;
    justify-content: center;
    padding-bottom: 6.39vmin; /* 24px */
    gap: 6.92vmin; /* 26px */
}

.slide-chart__user {
    display: flex;
}

.slide-chart__user-avatar {
    border-radius: 50%;
    filter: grayscale(1);
    width: 10.64vmin; /* 40px */
    height: 10.64vmin;
    margin-right: 3.73vmin; /* 14px */
}

.theme_light .slide-chart__user-avatar {
    filter: none;
}

.slide-chart__user-name {
    font-family: var(--font-family-medium);
    color: var(--color-white);
    font-size: var(--font-size-16);
    font-weight: var(--line-height-18);
}

.theme_light .slide-chart__user-name {
    color: var(--color-black);
}

.slide-chart__user-value {
    font-family: var(--font-family-thin);
    font-size: 3.73vmin; /* 14px */
    line-height: 4.26vmin; /* 16px */
    color: var(--color-grey-on-dark);
}

.slide-chart__user-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.theme_light .slide-chart__value {
    color: var(--color-grey-on-light);
}

.slide-chart__user:nth-child(2) {
    padding-left: 4.26vmin; /* 16px */
    border-left: .54vmin solid rgba(145, 143, 138, 0.3); /* 2px */
}

.theme_light .slide-chart__user:nth-child(2) {
    border-color: rgba(191, 191, 191, 0.3);
}

@media (orientation: portrait) {
    .slide-chart__users {
        flex-direction: column;
        justify-content: center;
        margin: 0 6.39vmin; /* 24px */
        gap: 4.26vmin; /* 16px */
    }

    .slide-chart__user:nth-child(2) {
        border-left: none;
        padding-left: 0;
        padding-top: 4.26vmin;
        border-top: .54vmin solid rgba(191, 191, 191, 0.3); /* 2px */
    }
}