:root {
    --dot-bg-1: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 163, 0, 0.8) 71.88%, rgba(91, 58, 0, 0.8) 100%);
    --dot-bs-1: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 162, 0, 0.9);
    --dot-bg-2: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);
    --dot-bs-2: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(202, 129, 0, 0.9);
    --dot-bg-3: radial-gradient(100% 100% at 50% 0%, rgba(151, 151, 151, 0.5) 0%, rgba(41, 41, 41, 0.5) 100%);
    --dot-bs-3: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
    --dot-bg-4: radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%);
    --dot-bs-4: inset -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.theme_light {
    --dot-bg-1: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.56) 81.25%, rgba(255, 239, 153, 0.32) 100%);
    --dot-bs-1: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
    --dot-bg-2: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(255, 184, 0, 0.24) 81.25%, rgba(255, 239, 153, 0.12) 100%);
    --dot-bs-2: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    --dot-bg-3: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(166, 166, 166, 0.1725) 82.81%, rgba(203, 203, 203, 0.05) 92.19%);
    --dot-bs-3: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
    --dot-bg-4: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(191, 191, 191, 0.345) 82.81%, rgba(228, 228, 228, 0.1) 92.19%);
    --dot-bs-4: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);
}

.slide-diagram__legend {
    width: 80.86vmin; /* 304px */
    height: 46.3vmin; /* 174px */
    margin-right: 11.2vmin; /* 42px */
    transform: translateY(-0.8vmin); /* -3px */
}

.slide-diagram__text-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4.3vmin; /* 16px */
    border-bottom: 0.6vmin solid rgba(145, 143, 138, 0.3);
    padding-top: 4.3vmin; /* 16px */
    font-family: var(--font-family-medium);
    font-size: var(--font-size-16);
    line-height: var(--line-height-18);
}

.theme_light .slide-diagram__text-content {
    border-color: rgba(191, 191, 191, 0.3);
}

.slide-diagram__text-content:nth-child(1) {
    padding-top: 0;
}

.slide-diagram__text-content:nth-child(4) {
    border: none;
}

.slide-diagram__title {
    color: var(--color-white);
}

.theme_light .slide-diagram__title {
    color: var(--color-black);
}

.slide-diagram__diff {
    margin-right: 4.6vmin; /* 17px */
    color: var(--color-grey-on-dark);
}

.theme_light .slide-diagram__diff {
    color: var(--color-grey-on-light);
}

.slide-diagram__value {
    color: var(--color-grey-on-dark);
}

.theme_light .slide-diagram__value {
    color: var(--color-grey-on-light);
}

.slide-diagram__dot {
    width: 4.3vmin; /* 16px */
    height: 4.3vmin;
    border-radius: 50%;
    margin-right: 2.7vmin; /* 10px */
    margin-top: .54vmin; /* 2px */
}

.slide-diagram__dot-1 {
    background: var(--dot-bg-1);
    box-shadow: var(--dot-bs-1);
}

.slide-diagram__dot-2 {
    background: var(--dot-bg-2);
    box-shadow: var(--dot-bs-2);
}

.slide-diagram__dot-3 {
    background: var(--dot-bg-3);
    box-shadow: var(--dot-bs-3);
}

.slide-diagram__dot-4 {
    background: var(--dot-bg-4);
    box-shadow: var(--dot-bs-4);
}

@media (orientation: portrait) {
    .slide-diagram__legend {
        margin: 0;
        width: 87.3vmin;
    }
}