.slide__caption {
    text-align: center;
    padding: 0 7.78vmax 0; /* 52px */
}

.slide__title {
    padding: 5.1vmin 0 2.13vmin; /* 20px 0 8px */
    font-size: 8vmin; /* 30px */
    line-height: 8.5vmin; /* 32px */
    font-family: var(--font-family-bold);
    color: var(--color-white);
}

.theme_light .slide__title{
    color: var(--color-black);
}

.slide__subtitle {
    font-size: var(--font-size-16); /* 16px */
    line-height: var(--line-height-18); /* 18px */
    font-family: var(--font-family-medium);
    color: var(--color-grey-on-dark);
}

.theme_light .slide__subtitle{
    color: var(--color-grey-on-light);
}

@media (orientation: portrait) {
    .slide__caption {
        text-align: left;
        padding-left: 6.38vmin; /* 24px */
    }
}