:root {
  --color-black: #261C00;
  --color-grey-on-light: #BFBFBF;
  --color-grey-on-dark: #918F8A;
  --color-yellow: #F4B000;
  --color-white: #FCFBF7;
  --font-size-16: 4.26vmin;
  --line-height-18: 4.8vmin;

  --body-bg: radial-gradient(70.24% 70.24% at 49.87% 29.76%, rgba(18, 12, 1, 0.9) 0%, #000000 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

#stories {
  background: var(--body-bg);
  /*border-radius: 6px;*/
}

.theme_light {
  --body-bg: #fff;
}

.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}